h3 {
  font-size: 1.5em;
  font-variant: small-caps;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid purple;
  width: 100%;
  padding: 10px;
  font-variant: small-caps;
}

thead {
  background-color: purple;
  color: aliceblue;
}

tr:hover{
  background: lightgray;
  color: purple;
}
