<section>
  <h3>Last postcodes searched:</h3>
  <table class="table">
    <thead class="table__head">
      <tr>
        <th class="table__head__content">Postcode</th>
        <th class="table__head__content">Area</th>
        <th class="table__head__content">Latitude</th>
        <th class="table__head__content">Longitude</th>
        <th class="table__head__content">Distance in KM</th>
        <th class="table__head__content">Distance in Miles</th>
      </tr>
    </thead>
    <tbody *ngIf="!!postcodes; else emptyList">
      <tr class="table__line" *ngFor="let postcode of postcodes">
        <td class="table__content">{{ postcode.postcode }}</td>
        <td class="table__content">{{ postcode.region }}</td>
        <td class="table__content">{{ postcode.longitude }}</td>
        <td class="table__content">{{ postcode.latitude }}</td>
        <td class="table__content">{{ postcode.distanceInKm }}</td>
        <td class="table__content">{{ postcode.distanceInMiles }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #emptyList>
    <p>No postcode searched yet.</p>
  </ng-template>
</section>
