<div>
  <img src="/src/app/resources/london_airport_img.png" alt="">
</div>

<div>
  <h1>London Airport Distance</h1>
</div>

<div>
  <h4>Your postcode here:</h4>
  <form>
    <input type="text" name="postcode" id="clientpostcode">
  </form>
</div>

<div>
  <table><caption>Last postcodes searched:</caption>
    <thead>
      <tr>
        <th>Postcode</th>
        <th>Area</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      <td></td>
    </tbody>
  </table>
</div>
